html, body {
    height: 100%;
    margin: 0;
    padding: 0px;  
}


body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica", "Arial", sans-serif
}
@media only screen and (max-width: 768px) {
    body {
        padding-left: 30px;
        padding-right: 30px;
    }
}

h1{
    font-size: 30px;
    color: black;
    padding: 0;
}
h2{
    font-size: 20px;
    color: rgb(182, 182, 182);
}
.projects{
    position: relative;
    margin-top: 40px;
}
.thinking{
    position: relative;
    margin-top: 40px;
}
h2 a {
    text-decoration: underline;  
    color: inherit;  
}
.about{
    position: relative;
    margin-top: 40px;
}
.twitter{
    font-size: 12px;
}
.ins{
    font-size: 12px;
}
.tumblr{
    font-size: 12px;
}
